.display-flex {
  display: flex;
 }
 .container-header {
  position: fixed;
  width: 100vw;
  background-image: linear-gradient(
    to right top,
    #1e3a6c,
    #25558b,
    #2b72a9,
    #3390c7,
    #3cafe4
  );
  color: white;
  font-family: Arial, Helvetica, sans-serif;
 }
 .container-header div {
  margin-left: 1.5em;
  /* margin-right: 1.5em; */
 }
 .container-header h1 {
  font-size: 1.5em;
  margin-right: 2em;
  padding-bottom: 1em;
 }
 .container-header h3 {
  padding-top: 1em;
 }
 .month {
  justify-content: center;
 }
 .month h4 {
  font-size: 1em;
  margin: 2em;
 }
 .div-h p {
  position: absolute;
  right: 1em;
 }
 .ingresos .barra {
  border: 0.5em solid green;
  width: 80%;
  margin: auto;
  margin-top: 9%;
  margin-bottom: 5%;
  position: relative;
  left: -6.6em;
 }
 .gastos .barra {
  border: 0.5em solid purple;
  width: 50%;
  margin: auto;
  margin-top: 9%;
  margin-bottom: 5%;
  position: relative;
  left: -7em;
 }
 .arrow,
 .arrow2 {
  width: 0.5em;
 }
