
.button{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}

.login-panel{
  background-image: linear-gradient(180deg, #3CAFE4 0%, #1E3A6C 100%);
  background-repeat: no-repeat;
  height: 100vh;
  align-items: center;
  text-align: center;
  align-items: center;
  padding-top: 15em;
}

.login-panel p{
  color: #fff;
}

.login-panel img{
  width: 18em;
  text-align: center !important;
}

.btn-active {
  font-family: Arial;
  font-size: 0.8em;
  background-color: #3cb0e5;
  color: white;
  -moz-border-radius: 5px;
  -webkit-border-radius: 4px;
  border-radius: 1.5em;
  border-color: #3cb0e5;
  width: 18em;
  height: 3em;
 
}

.btn-secondary {
  font-family: Arial;
  font-size: 0.8em;
  background-color: #94949400;
  color: #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 4px;
  border-radius: 1.5em;
  border-color: #fff;
  width: 18em;
  height: 3em;
 
}
